:root{
    --lightbg-color: #FFF;
    --lighttxtcolor: #000;
    --darkbg-color: #000;
    --darktxtcolor: #FFF;
}

body{
    text-align: center;
    background-color: var(--lightbg-color);
    color: var(--lighttxtcolor);
    transition: all 0.8s ease;
}

#switcher {
    border: 1px solid black;
    padding: 1rem 2rem; 
    border-radius: 0.5rem;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.650);
}
  
#switcher {
    background-color: var(--lightbg-color);
    color: var(--lighttxtcolor);
    border: 1px solid #FFF;
  }

.dark {
    background-color: var(--darkbg-color);
    color: var(--darktxtcolor);
  }
  
.dark #switcher {
    background-color: var(--darkbg-color);
    color: var(--darktxtcolor);
    border: 1px solid #FFF;
  }